.input-field{
    padding: 5px 100px;
    text-align: center;
    border-radius: 5px;
}
.input-btn{
    background-color: #f7b614;
    border: 0px;
    padding: 5px 50px;
    margin-left: 114px;
    font-weight: bold;
    border-radius: 5px;
}

@media only screen and (max-width: 688px) {
    .cycle-img{
        width: 100%;
        margin-top: 60px;
    }
}