.work-card:hover{
    box-shadow: 3px 3px 20px rgb(0, 1, 2);
}
.work-card{
    border: 1px solid tomato;
    /* height: 600px; */
}
/* .p-img{
    height: 300px;
    width: 400px;
} */
.d-btn{
    margin-left: 100px;
}
.add-btn{
   margin-right: 50px;
}
.all-clr{
    color: #f7b614;
}